@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <hi>Tangroti School</hi>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Message From Principal</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>


    <div class="col-md-6">
        <h2>Welcome to Govt Sen Sec Tangroti</h2>
        <p>
            Goverment Senior Secondary School Tangroti is a
            goverment intitution located near Yol Cantt.
            Under the Shadow of beautifull Dauladhar Range.
        </p>
    </div>


    <div class="col-md-3">
        <h2>Important Notification</h2>
        <p>You can download the important departmental notifaication here.</p>
        <p>
            <a class="btn btn-default"
               href="http://ddhekangra.in/">
                DDHE Kangra &raquo;
            </a>

            <a class="btn btn-default"
               href="http://ddhekangra.in/">
                DHE Shimla &raquo;
            </a>

            <a class="btn btn-default"
               href="http://ddhekangra.in/">
                HP Bose &raquo;
            </a>
        </p>
    </div>

</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
